:root {
  /* [COLORS] */
  --dark-blue-gray: #0e0f2a;
  --light-blue-gray: #404153;
  --light-purple: #deddf0;
  --orange: #ff5400;
  --black: #000;
  --white: #fff;
  --gray: #797979;

  /* [TYPOGRAPHY] */
  --ff-1: "Poppins", sans-serif;
  --ff-2: "Roboto", sans-serif;
  --fw-500: 500;
  --fw-700: 700;
}
