:root {
  /* [--COLORS--] */
  --dark-purple-gray: #131219;
  --light-purple-gray: #222029;
  --light-purple: #deddf0;
  --orange: #ff5400;
  --black: #000;
  --white: #fff;
  --gray: #797979;
  --light-gray: #e7e6e67e;
  --blue-gray: #a7adbab5;

  /* [--TYPOGRAPHY--] */
  --ff-1: "Poppins", sans-serif;
  --ff-2: "Roboto", sans-serif;
  --fw-500: 500;
  --fw-700: 700;

  /* [--SHADOW--] */
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* [--TRANSITION--] */
  --tr-in: all 0.5s ease-in;
  --tr-out: all 0.5s ease-out;
}
