.top_nav {
  padding-block: 20px;
  background-color: var(--light-purple-gray);
}

.container,
.socials_auth {
  display: flex;
  align-items: center;
}

.container,
.socials_auth {
  justify-content: space-between;
  width: 100%;
}

@media only screen and (min-width: 767px) {
  .socials_auth {
    justify-content: flex-end;
    gap: 30px;
  }
}
