.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media only screen and (min-width:1280px) {
    .list {
        justify-content: space-between;
    }
}