.bottom_nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-block: 15px;
}

.bottom_nav_unscrolled {
  top: 40px;
  background-color: transparent;
  transition: all 0.6s ease-in;
}

.bottom_nav_scrolled {
  top: 0;
  background-color: var(--white);
  transition: all 0.6s ease-out;
  border-bottom: 2px solid var(--gray);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.open_mobile_menu {
  position: relative;
  z-index: 2;
}
