.subscribe {
  padding: 60px 40px 40px 40px;
}

.title {
  color: var(--white);
  margin-bottom: 30px;
}

.field {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 250px;
  margin-bottom: 30px;
}

.input {
  outline: none;
  background-color: var(--dark-purple-gray);
  padding: 15px 10px;
  border-radius: 5px;
  font-family: var(--ff-1);
  color: var(--white);
  width: 100%;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3.5px;
  right: 2px;
  height: 90%;
  width: 50px;
  border-radius: 5px;
  background-color: var(--orange);
}

.icon_container:hover {
  background-color: transparent;
  border: 1px solid var(--orange);
}
