.info {
  display: none;
}

.info_text {
  color: var(--light-gray);
}

@media only screen and (min-width: 767px) {
  .info,
  .info_entry {
    display: flex;
    align-items: center;
  }

  .info {
    width: 100%;
    gap: 15px;
  }

  .info_entry {
    gap: 5px;
  }
}
