.auth,
.auth_links {
  display: flex;
  align-items: center;
}

.auth {
  gap: 10px;
}

.auth_links {
  gap: 3px;
}

.separator {
  margin-inline: 8px;
  background: var(--orange);
  width: 2px;
  height: 1.3rem;
}
