.title {
  padding-block: 15px;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border-bottom: 1px solid var(--orange);
  border-top: 1px solid var(--orange);
}

