.btn {
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  transition: 998ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  max-width: 250px;
}

.btn:hover {
  transition: 998ms;
  padding: 15px 44px;
  transform: translateY(-0px);
  background-color: transparent;
}
